@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97.6471%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 246.9065 74.3316% 63.3333%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210.3704 75.7009% 79.0196%;
    --secondary-foreground: 0 0% 20%;
    --muted: 45.0000 15.6250% 74.9020%;
    --muted-foreground: 0 0% 43.1373%;
    --accent: 246.9065 74.3316% 63.3333%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 83.1373%;
    --input: 0 0% 83.1373%;
    --ring: 246.9065 74.3316% 63.3333%;
    --radius: 0.5rem;

    /* Charts */
    --chart-1: 246.9065 74.3316% 63.3333%;
    --chart-2: 282.2857 43.5685% 47.2549%;
    --chart-3: 274.6154 100% 25.4902%;
    --chart-4: 218.5401 79.1908% 66.0784%;
    --chart-5: 207.2727 44% 49.0196%;

    /* Sidebar */
    --sidebar-background: 0 0% 97.6471%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 246.9065 74.3316% 63.3333%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 72.0000 17.9283% 49.2157%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 83.1373%;
    --sidebar-ring: 246.9065 74.3316% 63.3333%;
  }

  .dark {
    --background: 220.0000 14.7541% 11.9608%;
    --foreground: 0 0% 89.8039%;
    --card: 197.1429 6.9307% 19.8039%;
    --card-foreground: 0 0% 89.8039%;
    --popover: 197.1429 6.9307% 19.8039%;
    --popover-foreground: 0 0% 89.8039%;
    --primary: 246.9065 74.3316% 63.3333%;
    --primary-foreground: 0 0% 100%;
    --secondary: 274.6154 100% 25.4902%;
    --secondary-foreground: 0 0% 89.8039%;
    --muted: 0 0% 26.6667%;
    --muted-foreground: 0 0% 63.9216%;
    --accent: 246.9065 74.3316% 55%;
    --accent-foreground: 0 0% 89.8039%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 26.6667%;
    --input: 0 0% 26.6667%;
    --ring: 246.9065 74.3316% 63.3333%;

    /* Charts */
    --chart-1: 246.9065 74.3316% 63.3333%;
    --chart-2: 282.2857 43.5685% 47.2549%;
    --chart-3: 274.6154 100% 25.4902%;
    --chart-4: 218.5401 79.1908% 66.0784%;
    --chart-5: 207.2727 44% 49.0196%;

    /* Sidebar */
    --sidebar-background: 220.0000 14.7541% 11.9608%;
    --sidebar-foreground: 0 0% 89.8039%;
    --sidebar-primary: 246.9065 74.3316% 63.3333%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 218.5401 79.1908% 66.0784%;
    --sidebar-accent-foreground: 0 0% 89.8039%;
    --sidebar-border: 0 0% 26.6667%;
    --sidebar-ring: 246.9065 74.3316% 63.3333%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: "Montserrat", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}